<head>
    <link rel="stylesheet" href="composeStyle.css">
</head>
<body>

    <form action="/publish" method="post">
        
        <h1 class="post-title">Title</h1> <input class="post-title-input" type="textbox" name="title">
        <h1 class="post-content">Post</h1>  <textarea class="post-content-input" type="textarea" name="content"></textarea>
        <button class="publish-btn" type="submit">Publish</button>
    </form>
</body>
