<head>
    <link rel="stylesheet" href="headerStyle.css">
</head>
<body>
    <div class="header">
    
        <nav class="nav-bar">
            <a  class="webTitle" href="#">DAILY JOURNAL </a>

            <div class="redirectMenu">
                <div></div>
                <div></div>
                <div></div>
            </div>

            <ul class="pageRedirect">
            <!-- <form class="nav-bar" action="redir" method="post"> -->
                <li><a name="home" href="/home">HOME</a></li>
                <li><a name="about" href="/about">ABOUT</a></li>
                <li><a name="contact" href="/contact">CONTACT</a></li>
            <!-- </form> -->
            </ul>
        </nav>
    </div>
</body>